<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green River Collective</title>
    <script src="../static/p5.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
    <div class="row">
      <div id="left-sketch-1"></div>
      <div class="right-panel">
          <input id="genre-query" type="text" placeholder="Search..">
          <button onclick="search_genre()">Send Data</button>

        <h1 id="genre-name">Lars, das ist mir egal</h1>
        <p id="genre-description">ob du kaffee trinks oder nicht, du bleibst ein kek.!!.</p>
      </div>
    </div>

    <div class="row">
              <div class="right-panel">
        <h1>Panel 2</h1>
        <p>Information for the second row goes here.</p>
      </div>
      <div id="left-sketch-2"></div>

    </div>

    <div class="row">
      <div id="left-sketch-3"></div>
      <div class="right-panel">
        <h1>Panel 3</h1>
        <p>Information for the third row goes here.</p>
      </div>
    </div>
  </div>
    <script src="../static/SessionManager.js" defer></script>

    <script src="../static/GenreMap.js" defer></script>
    <script src="../static/GenreMap_sketch.js" defer></script>

    <script src="../static/ArtistMap.js" defer></script>
    <script type="module" src="../static/ArtistMap_sketch.js" defer></script>

    <script src="../static/sendData.js" defer></script>

</body>
</html>
