<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green River Collective</title>
    <script src="../static/p5.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
    <div class="row">
      <div id="left-sketch-1"></div>
      <div class="right-panel">
          <input id="genre-query" type="text" placeholder="Search..">
          <button onclick="search_genre()">Send Data</button>

        <h1 id="genre-name">genre</h1>
        <p id="genre-description">description</p>
      </div>
    </div>
     <div class="row">
         <div id="card-container" class="card-container">
          <!-- Other static cards or elements -->
        </div>

    </div>

    <div class="row">
      <div class="right-panel">
          <div id="artist-panel"></div>
          <div id="album-panel"></div>
      </div>
      <div id="left-sketch-2"></div>

    </div>

    <div class="row">
      <div id="left-sketch-3"></div>
      <div class="right-panel">
        <div id="playlist-container"></div>
      </div>
    </div>
  </div>
    <script src="../static/SessionManager.js" defer></script>
    <script src="../static/GenreManager.js" defer></script>
    <script src="../static/GenreCard.js" defer></script>

    <script src="../static/GenreMap.js" defer></script>
    <script src="../static/GenreMap_sketch.js" defer></script>

    <script src="../static/ArtistMap.js" defer></script>
    <script type="module" src="../static/ArtistMap_sketch.js" defer></script>

    <script src="../static/sendData.js" defer></script>
<script src="../static/PlaylistView.js" defer></script>


</body>
</html>
