#artist-panel {
    display: flex;
    height: 80vh;
}

#card-container {
  display: flex;
  flex-direction: column;
    overflow-y: auto;
    flex: 1;
    height: 100%;
    flex-shrink: 0;
}

.card {
    border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;  /* Prevent the rows from forcing full height, but they will grow as needed */
  min-height: 0; /* Remove the full viewport height restriction */
  margin: 10px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
}

.sampler {
    border: 1px solid #333333;
    padding: 8px;
}

.sample-btn {
    width: 70%;
    padding: 2px;
}

.num-samples {
    padding: 0;
    margin: 0;
    width: 20%;
    min-width: 0;
}
.strategies {
    border: #3c3c3c;
    padding: 10px;
}
.strategy {
    border: 1px solid #333333;
    padding: 5px;
}

.strategy-details {
    display: none;
    grid-template-columns: repeat(4, max-content);
    gap: 2px 4px;
    padding: 5px;
}

.strategy-description {
    font-style: italic;
    font-size: 0.8em;
}

.number-input {
    width: 4em;
    min-width: 0;
    align-self: end;
}

.alpha-slider {
    grid-column: 1 / -1;
    height: auto;
    min-height: 0;
}

.sampled-list {
    max-height: 8rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 8px;
}

.type-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 5px;
}

.clickable {
    cursor: pointer;
}