:root {
    --border-radius-l: 43.75px;
    --border-radius-l-inner: 35px;
    --border-radius-m: 26.25px;
    --border-radius-s: 8.75px;
    --border-radius-xs: 5.25px;
    --unit-xs: 8.75px;
    --unit-s: 17.5px;
    --unit-m: 26.25px;
    --unit-l: 35px;
    --serif-s: 28px;
    --serif-m: 36.75px;
    --serif-l: 52.5px;
    --serif-logo: 63px;
  }

body {
  margin: 0;
  font-family: sans-serif;
  overflow-y: auto;  /* Allow vertical scrolling on the body */
}

.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;  /* Allow vertical scrolling for the container */
}

.row {
  display: flex;
  flex: 0 0 auto;  /* Prevent the rows from forcing full height, but they will grow as needed */
  min-height: 0; /* Remove the full viewport height restriction */
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;  /* Prevent the rows from forcing full height, but they will grow as needed */
  min-height: 0; /* Remove the full viewport height restriction */
  margin: 10px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
}

.track-item {
  display: grid;
  grid-template-columns: auto 2fr 2fr auto;
  align-items: center;
  column-gap: var(--unit-m);
  padding: 0;
}

.track-column {
  min-width: 0;
}

.track-artist {
  padding: 1px;
  margin: 0;
}

.track-item-name {
  padding: 1px;
  margin: 0;
}

#left-sketch-1, #left-sketch-2, #left-sketch-3 {
  flex: 2;  /* Left panel takes 2/3 of the width */
}


.album-artist-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.settings-panel {
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.playlist-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.right-panel {
  flex: 1;  /* Right panel takes 1/3 of the width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

h1 {
  margin: 0;
}

p {
  flex: 1;
  margin-bottom: 20px;
}
